[tool.pylint.master]
max-line-length = 200
ignore-imports = true
disable = [
    "broad-except",
    "c-extension-no-member",
    "duplicate-code",
    "fixme",
    "missing-class-docstring",
    "missing-function-docstring",
    "missing-module-docstring",
    "no-else-return",
    "no-member",
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-boolean-expressions",
    "too-many-branches",
    "too-many-instance-attributes",
    "too-many-lines",
    "too-many-locals",
    "too-many-nested-blocks",
    "too-many-public-methods",
    "too-many-public-methods",
    "too-many-statements",
    "ungrouped-imports",
    "wrong-import-order",
]
good-names = [
    "ex",
    "fh",
]
ignore-paths= ['^bot/assets/.*$', 'tests']


[tool.black]
line-length = 200

[tool.isort]
profile = "black"
force_sort_within_sections = true
combine_as_imports = true
line_length = 200
known_first_party = [
    "camera",
    "configuration",
    "klippy",
    "notifications",
    "timelapse",
    "websocket_helper"
]
