-r requirements.txt
black==22.1.0
isort==5.10.1
memory_profiler==0.60.0
mypy==0.931
numpy~=1.20.1
opencv-python~=3.4.8.29
pre-commit==2.17.0
pylint==2.12.2
types-emoji==1.2.7
types-requests==2.27.11
types-ujson==4.2.1
