tzlocal==2.1
python-telegram-bot==13.10
PySocks==1.7.1
ujson==5.1.0
wsaccel==0.6.3
websocket-client==1.2.3
Pillow==9.0.0
emoji==1.6.1
requests==2.27.1
opencv-python~=3.4.8.29
numpy~=1.20.1
memory_profiler==0.60.0
