emoji==2.13.2
ffmpegcv==0.3.15
idna==3.10
orjson==3.10.7
Pillow==10.4.0
PySocks==1.7.1
python-telegram-bot==13.15
rel==0.4.9.19
requests==2.32.3
tzlocal==2.1
urllib3==2.2.3
websocket-client==1.8.0
wsaccel==0.6.6 ; python_version>='3.9'
wsaccel==0.6.4 ; python_version<='3.8'
