aiofiles==25.1.0
aiolimiter==1.2.1
anyio==4.12.1
APScheduler==3.11.2
emoji==2.15.0
ffmpegcv==0.3.18
h2==4.3.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
orjson==3.11.7 ; python_version>='3.10'
orjson==3.10.14 ; python_version=='3.9'
Pillow==12.1.1 ; python_version>='3.10'
Pillow==10.4.0 ; python_version<='3.9'
python-telegram-bot[socks,http2,rate-limiter,callback-data,job-queue]==22.6 ; python_version>='3.10'
python-telegram-bot[socks,http2,rate-limiter,callback-data,job-queue]==22.5 ; python_version=='3.9'
tzlocal==5.3.1
uvloop==0.22.1 ; platform_system != "Windows"
websockets==16.0 ; python_version>='3.10'
websockets==15.0.1 ; python_version=='3.9'
