-r requirements.txt
black==24.10.0
isort==5.13.2
memory_profiler==0.61.0
mypy==0.982
numpy~=1.26.4
opencv-python~=4.6.0.66
pipdeptree==2.24.0
pre-commit==4.0.1 ; python_version>='3.9'
pre-commit==3.5.0 ; python_version<='3.8'
psutil==6.1.1
pylint==3.2.7
pytest==7.3.1
types-cachetools==5.5.0.20240820
types-emoji==2.1.0.3
types-orjson==3.6.2
types-Pillow==10.2.0.20240822
types-pytz==2024.2.0.20241003
types-setuptools==75.1.0.20240917
